@import './partials/variables';
@import './partials/mixins';
@import '@fontsource/jost';

::-webkit-scrollbar {
    display: none;
}

.table-user {
    td,
    th {
        font-family: 'jost';
        padding: 2 * $unit $unit;
        border-color: $light-yellow;
        color: $light-black;
        font-size: 12px;
        @include mobile {
            font-size: 14px;
        }
        @include tablet {
            font-size: 16px;
        }
        @include desktop {
            font-size: 18px;
        }
    }

    tbody {
        tr {
            &:hover {
                background-color: $light-yellow;
            }
        }
    }
}

.flex-col {
    flex-direction: column;
}

.grid4 {
    border-color: $light-grey;
    border-width: 0 0 1px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 4 * $unit;
}

.grid-watch {
    border-color: $light-grey;
    border-width: 0 0 1px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: auto repeat(2, 1fr) auto;
    align-items: center;
    gap: 4 * $unit;
    // padding: 4 * $unit;
}

.grid-portfolio {
    border-color: $light-grey;
    border-width: 0 0 1px;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 2fr 8fr 1fr 1fr;
    padding: 4 * $unit;
}

.no-outline:focus {
    outline: none;
}

.bounce-box {
    &:hover {
        .close {
            animation: bounce 1s infinite;
        }
    }
}

@keyframes bounce {
    0% {
        bottom: 0px;
        height: 55px;
        animation-timing-function: ease-in;
    }
    10% {
        bottom: 2px;
        height: 60px;
        animation-timing-function: ease-out;
    }
    40% {
        bottom: 10px;
        animation-timing-function: ease-in;
    }
    45% {
        bottom: 10px;
        animation-timing-function: ease-out;
    }
    50% {
        bottom: 10px;
        animation-timing-function: ease-in;
    }
    95% {
        bottom: 1px;
        height: 60px;
        animation-timing-function: ease-in;
    }
}